<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="UTF-8">
    <title>Edheads</title>
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/stemSaturday.css">
    <link rel="stylesheet" href="/css/singleGameView.css">

    <!--    <link rel="stylesheet" href="/css/basicPage.css">-->



    <script src="/js/accordion.js" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '387795396444479');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=387795396444479&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
<div class="stickyHeader">
    <header>
        <div class="headerContents">
            <div class="headerContents">
                <div sec:authorize="!isAuthenticated()" class="topNav">
                    <ul class="mainNav">
                        <li class="topNavItem"><a href="/donate">Donate</a></li>
                        <li class="topNavItem"><a href="/login">Log In</a></li>
                        <li class="topNavItem"><a href="/sign-up">Sign Up</a></li>
                    </ul>
                </div>
                <div sec:authorize="isAuthenticated()" class="topNav">
                    <ul class="mainNav">
                        <li class="topNavItem"><a href="/donate">Donate</a></li>
                        <li sec:authorize="isAuthenticated()" class="topNavItem"><a href="/user">My Profile</a></li>
                        <li class="topNavItem">
                            <form name='logout' th:action="@{/logout}" method='post'>
                                <button class="topNavItem" type="submit">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            <div class="logo">
                <img src="/assets/ed_logo.png" alt="Edheads logo" class="logoImg">
            </div>

            <!--            <div class=""> </div>-->

            <div class="mainNavContainer">

                <ul class="mainNav">
                    <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
                    <li class="mainNavItem" style="margin-left: 1rem;"><a href="/welcome">Welcome</a></li>
                    <li class="mainNavItem"><a href="/about-us">About Us</a></li>
                    <li class="mainNavItem"><a href="/our-games">Our Games</a></li>
                    <li class="mainNavItem active"><a href="/more-fun-stuff">More Fun Stuff!</a></li>
                    <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
                </ul>

                <div class="logoWG">
                    <img src="/assets/weatherhead.PNG" alt="Edheads Weathergirl Mascot" class="logoImgWG">
                </div>
            </div>
        </div>
    </header>
</div>
    <main>


<section id="basicPageContainer">

    <div class="basicPageContentContainer">

        <div class="backNav"><a href="/more-fun-stuff">Back to more fun stuff</a> </div>



        <div class="basicPageMain donate">

            <div class="parent">
                <div class="absolute">
               <img src="/assets/stemSaturday.png" alt="Game character asking for donations." class="Vanessa">
                </div>
                <div class="donateContent">
                        <h1 class="donateTitle" style="font-size: 3rem;">Super STEM Saturday</h1>
                    <h2 style="color: #cbd543">A FREE, FUN, INFORMATIVE, STEM-TASTIC EVENT!</h2>
<div style="color: #cbd543; margin: 1rem 0">
                    October 15, 1 - 4pm <br>
                    Columbus State, Mitchell Hall<br>
                    250 Cleveland Ave., Columbus<br>
</div>

                    <p>Students will enjoy hands-on activities, games and simulations that demonstrate high paying careers
                        like materials science, construction, user experience testing, engineering, and more.
                        You will take home cool stuff just for attending!
                    </p>

                    <p>Parents can learn about educational pathways to fulfilling careers
                        and pick up tips on how to guide your children toward success.
                    </p>


                </div>
            </div>

        </div>
        <div>
        <div class="sponsors">
            Sponsored By
        </div>
            <div class="sponsorlogos"><img src="/assets/parker.png" alt="Parker Logo" class="logoImgA">
                </div>
            <div class="sponsorlogos center">
                <img src="/assets/hyperion.png" alt="Hyperion Logo" class="logoImgA">
                <img src="/assets/honda.png" alt="Honda Logo" class="logoImgA"> </div>

            <div class="sponsors">
                Join us to learn more about great careers at all these companies!
            </div>
            <div class="supporlogosA"><img src="/assets/columbusFire.png" alt="Columbus Fire Logo" class="logoImgB">
                <img src="/assets/lincoln.png" alt="Lincoln Logo" class="logoImgB">
                <img src="/assets/ooeat.png" alt="Ohio Engineers Logo" class="logoImgB">
                <img src="/assets/columbusState.png" alt="Columbus State Logo" class="logoImgB">
                <img src="/assets/OSU.png" alt="Ohio StateLogo" class="logoImgB"></div>

            <div class="sponsors">
                Additional Support Provided By
            </div>
            <div class="sponsorlogos"><img src="/assets/robex.png" alt="Robex Logo" class="logoImgB">
                <img src="/assets/coldwell.png" alt="Coldwell Banker Logo" class="logoImgB">
               </div>

            <div class="eventImages">
                <div class="stemSaturdayVideo"><iframe width="691" height="385" style= "border-radius: 1rem;
    border: solid #cbd543 0.25rem;"
                                              src="https://www.youtube.com/embed/aBZvip7Yu-w"
                                              title="Super STEM Saturday 2022 Recap" frameborder="0"
                                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                              allowfullscreen></iframe></div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/3D Printed Rockets.png" alt="">
                        <p class="caption">Lincoln Electric 3-D printer</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/bags 2.png" alt="">
                        <p class="caption">Happy attendees!</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/columbus state respiratory booth.png" alt="">
                        <p class="caption">Columbus State Respiratory Therapy</p>

                    </div>


                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/columbus state respiratory kids.png" alt="">
                        <p class="caption">Columbus State Respiratory Therapy with kids</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/cscc materials booth.png" alt="">
                        <p class="caption">Columbus State Materials Science</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/crowd shot.png" alt="">
                        <p class="caption">Honda booth audience</p>

                    </div>


                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/cscc materials foam with kids.png" alt="">
                        <p class="caption">Columbus State Materials Science and Foam!</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/edheads booth.png" alt="">
                        <p class="caption">Edheads' booth</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/excavator 2.png" alt="">
                        <p class="caption">Ohio Operator's Excavator</p>

                    </div>


                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/fire dept booth.png" alt="">
                        <p class="caption">Columbus Division of Fire</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/fire dept gear.png" alt="">
                        <p class="caption">Columbus Division of Fire</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/fire truck.png" alt="">
                        <p class="caption">Fire Engine</p>

                    </div>

                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/honda booth 1.png" alt="">
                        <p class="caption">Honda Group</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/honda audience.png" alt="">
                        <p class="caption">Honda Audience</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/kids with foam.png" alt="">
                        <p class="caption">Materials Scientists!</p>

                    </div>

                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/kids 1.png" alt="">
                        <p class="caption">Future engineers!</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/lincoln electric booth.png" alt="">
                        <p class="caption">Lincoln Electric booth</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/lincoln electric with kids.png" alt="">
                        <p class="caption">Lincoln Electric with Kids</p>

                    </div>

                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/ooe.png" alt="">
                        <p class="caption">Ohio Operating Engineers</p>

                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/osu metals.png" alt="">
                        <p class="caption">Ohio State College of Engineers</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/parker gurney kid.png" alt="">
                        <p class="caption">Parker Hannifin booth</p>
                    </div>



                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/parker audience.png" alt="">
                        <p class="caption">Parker Hannifin booth</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/parker hydrolics.png" alt="">
                        <p class="caption">Parker Hannifin hydraulics</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/parker gurney.png" alt="">
                        <p class="caption">Parker Hannifin motors</p>

                    </div>

                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/robots.png" alt="">
                        <p class="caption">Edheads' prize table</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/plush lungs.png" alt="">
                        <p class="caption">Columbus State Respiratory booth</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/volunteers.png" alt="">
                        <p class="caption">Columbus State STEM group volunteers</p>

                    </div>

                </div>

                <div class="image_containerIntro">
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/Hyperion booth.png" alt="">
                        <p class="caption">Hyperion team</p>

                    </div>
                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/Hyperion diamond machine.png" alt="">
                        <p class="caption">Hyperion booth</p>
                    </div>

                    <div class="cardIntro">
                        <img class="card_imageIntro" src="/assets/superStemSaturday/Hyperion robot 3.png" alt="">
                        <p class="caption">Hyperion robot</p>

                    </div>

                </div>


            </div>

        </div>

    </div>
    <div class="sideBar">
        <!--        <div class="sideBarText">Sidebar Text</div>-->
        <div class="sideBarAd">
            <script src="//ap.lijit.com/www/delivery/fpi.js?z=384936&width=300&height=250"></script>
            <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
        </div>

        <div class="sideBarAd">
            <script src="//ap.lijit.com/www/delivery/fpi.js?z=971096&width=300&height=250"></script>
            <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
        </div>
    </div>

</section>
<footer-component></footer-component>
</main>
</body>
</html>
