<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="UTF-8">
    <title>Edheads</title>
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/singleGameView.css">
    <link rel="stylesheet" href="/css/modal.css">


<!--    <script src="js/game.js" defer></script>-->
    <script src="js/accordion.js" defer></script>
    <script src="js/modal.js" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '387795396444479');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=387795396444479&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
<div class="stickyHeader">
    <header>
        <div class="headerContents">
            <div sec:authorize="!isAuthenticated()" class="topNav">
                <ul class="mainNav">
                    <li class="topNavItem"><a href="/donate">Donate</a></li>
                    <li class="topNavItem"><a href="/login">Log In</a></li>
                    <li class="topNavItem"><a href="/sign-up">Sign Up</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="topNav">
                <ul class="mainNav">
                    <li class="topNavItem"><a href="/donate">Donate</a></li>
                    <li sec:authorize="isAuthenticated()" class="topNavItem"><a href="/user">My Profile</a></li>
                    <li class="topNavItem">
                        <form name='logout' th:action="@{/logout}" method='post'>
                            <button class="topNavItem" type="submit">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/ed_logo.png" alt="Edheads logo" class="logoImg">
            </div>

            <div class=""> </div>

            <div class="mainNavContainer">
                <ul class="mainNav">
                    <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
                    <li class="mainNavItem" style="margin-left: 1rem;"><a href="/welcome">Welcome</a></li>
                    <li class="mainNavItem"><a href="/about-us">About Us</a></li>
                    <li class="mainNavItem"><a href="/our-games">Our Games</a></li>
                    <li class="mainNavItem  active"><a href="/more-fun-stuff">More Fun Stuff!</a></li>
                    <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
                </ul>
                <div class="logoWG">
                    <img src="/assets/weatherhead.PNG" alt="Edheads Weathergirl Mascot" class="logoImgWG">
                </div>
            </div>
        </div>
    </header>
</div>

    <main>


<section id="singleGameContainer">

    <div class="singleGameContentContainer">
        <div class="backNav"><a href="/more-fun-stuff">Back to more fun stuff</a> </div>

        <h1>STEM Mysteries: Wetlands</h1>


        <div class="singleGameContent">
            <p>A new golf course was built in Florida. The golf course was built over some existing marshes,
                which in Florida requires the builder of the course to create more marshlands somewhere else.
                These newly created marshlands, called mitigation areas (mitigating, or making up for the
                loss of wetlands), are required to be monitored twice a year to see that
                they are created correctly and that the newly created wetland is growing
                and progressing toward offering the same ecological function as the wetlands that were destroyed.
                This monitoring is conducted by qualified wetland biologists.</p>

               <p> At nine of the ten marshland mitigation areas of this golf course, the wetland biologist finds
                   good growth and progression toward the goal of reaching the same ecological function.
                   Marsh grasses are growing and there is good coverage of plants, and animals like crabs and
                   herons can be seen. However, in the 10th area, there is only one plant visible, no animals,
                   and it is not clear why. The wetland biologist must determine what the problem is and solve
                   it to get the marshland mitigation area to grow and function like the others.
            </p>


        </div>

<!--        start first accordion-->

        <div class="accordion">What is Wetland Biology?
        </div>
        <div class="accordionContent">
            <p>
                Wetland biology is a growing area within the fields of biology and the biological sciences.
                Biology is the study of all life – plant and animal – and how they react with their environment.
                Wetland biology is about the relationship between a wetland environment and the plant and animal
                life that lives there. They are often called upon to determine how healthy and ecologically
                functional certain wetlands are. They can be called upon to test water and soil, conduct surveys of
                animal and plant life, or conduct formal monitoring over time.  Formal monitoring involves establishing permanent,
                fixed locations in which to assess the percent coverage of certain plants. Formal monitoring involves taking photos,
                generating charts and graphs and comparing the growth or health of the area over time.
                Informal monitoring might involve a simple check to see if the area is alive and determining
                if the area is relatively healthy, given age and circumstances surrounding the area.
            </p>
            <p>
                <strong> Education or skills required:</strong> The minimum education required to become a wetland
                specialist is to complete a bachelor's degree in science majoring in ecology or
                a similar discipline. To progress a career as a wetland specialist a masters or Ph. D. is required.
            </p>



        </div>

<!--        end first accordion-->

        <!--        start first accordion-->

        <div class="accordion">Wetlands Activity Sheet
        </div>
        <div class="accordionContent">

            <p>Please answer this question on your <a href="/assets/Wetlands Student Activity Sheet.fillable.pdf" target="_blank">Wetlands Activity Sheet.</a></p>
            <p style="font-size: 1.25rem;font-weight: 700;">
                Which two of the following items will the wetland biologist most likely check,
                in order to solve the mystery?
            </p>

            <div style="display: flex; justify-content: space-evenly;font-size: 1.125rem;text-align: center;margin-bottom: 2rem;">

                <div>
                   <div class="contentArea"><!-- Trigger/Open The Modal -->
                       <div class="modal-open" href="#myModal1">Weather</div>
                       <!-- The Modal -->
                       <div id="myModal1" class="modal">
                           <!-- Modal content -->
                           <div class="modal-content">
                               <span class="close">X</span>
                               <div class="modal-body">
                                <div class="modal-header">Weather</div>
                                   <p> The wetland biologist reviewed the weather reports for the past two weeks prior
                                       to the monitoring date.  For most dates, it was sunny, hot, humid with afternoon
                                       thundershowers dropping ¼ to ¾ inch of rain.  There were only two days that it did not rain in the afternoon.
                                   </p>
                               </div>
                           </div>
                       </div>
                       <!-- end Modal --></div>

                    <div class="contentArea">
                        <!-- Trigger/Open The Modal -->
                        <div class="modal-open" href="#myModal2">Dumping</div>
                        <!-- The Modal -->
                        <div id="myModal2" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">X</span>
                                <div class="modal-body">
                                    <div class="modal-header">Dumping</div>
                                    <p> The area could have been impacted by someone illegally dumping chemicals,
                                        trash or other things into the water.  Dumping is a problem in Florida, with many natural
                                        wetlands impacted and even killed by this illegal activity.
                                        The images below are typical when dumping has occurred in or near a wetland.
                                    </p>

                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/dumping 2.png" alt="">
<!--                                            <p>Area 1-9</p>-->

                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/dumping 3.jpg" alt="">
<!--                                            <p>Area 10</p>-->

                                        </div>
                                    </div>

                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/dumping 5.jpg" alt="">
<!--                                            <p>Area 1-9</p>-->

                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/dumping 6.jpg" alt="">
<!--                                            <p>Area 10</p>-->

                                        </div>
                                    </div>

                                    <p>Usually with dumping, you see tire tracks leading to the wetland and also barrels,
                                        boxes or bags thrown into the water or around the area.  The wetland biologist did
                                        not note any of these signs in Mitigation Area 10.</p>


                                </div>
                            </div>
                        </div>
                        <!-- end Modal -->
                    </div>

                    <div class="contentArea"> <!-- Trigger/Open The Modal -->
                        <div class="modal-open" href="#myModal3">Plant Identification</div>
                        <!-- The Modal -->
                        <div id="myModal3" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">X</span>
                                <div class="modal-body">
                                    <div class="modal-header">Plant Identification</div>

                                    <div class="image_container">
                                        <div>
                                            <p>The plant on the right is seen in mitigation area 10</p>

                                            <p> Identify the plant seen in mitigation area 10 by using the four photos below
                                            </p>

                                        </div>
                                        <div class="card">
                                            <img class="card_image_lg" src="/assets/plant seen in mitigation area 10.jpg" alt="">
                                            <!--                                            <p>Area 10</p>-->

                                        </div>
                                    </div>

                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/spartina alterniflora.jpg" alt="">
                                <p>Spartina alterniflora – smooth cordgrass </p>
                                            <p>Found in marshes along both east and west US coasts. Very common plant.
                                                                                        </p>

                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/agalinis maritima.jpg" alt="">
                             <p>Agalinis maritima – Saltmarsh False Foxglove
                             </p>
                                            <p> Less common that cordgrass, but still fairly common saltmarsh species,
                                                usually living in areas that are not submerged deeply.</p>

                                        </div>
                                    </div>

                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/borrichia frutescens.jpg" alt="">
                                         <p>Borrichia frutescens – Sea Ox-eye Daisy
                                            <p>Common marsh plant found around the edges of marshes where they trend toward sand and dunes. </p>
                                         </p>

                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/sagittaria latifolia.jpg" alt="">
                                  <p>Sagittaria latifolia – Arrowhead </p>
                                            <p>Common freshwater pond plant.  Has white flowers in the spring.
                                  </p>

                                        </div>
                                    </div>

                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/pontederia cordata.jpg" alt="">
                                            <p>Pontederia cordata – Pickerelweed </p>
                                            <p> Common freshwater pond plant, related to the hyacinth that clogs waterways all over Florida.
                                                However, this plant doesn’t take over everything and has good ecological value.  Has purple flower in spring.
                                            </p>


                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/nuphar lutea.jpg" alt="">
                                            <p>Nuphar lutea – Spatterdock or yellow pond lily </p>
                                            <p>Grows in up to four feet of fresh water, produces a round, yellow flower in spring.
                                                Leaves can float on the surface of the water like lotus leaves, or stick out of the water as shown here.

                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end Modal --></div>

                </div>

                <div>
                    <div class="contentArea"><!-- Trigger/Open The Modal -->
                        <div class="modal-open" href="#myModal4">Water Testing</div>
                        <!-- The Modal -->
                        <div id="myModal4" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">X</span>
                                <div class="modal-body">
                                  <div class="modal-header"> Water Testing</div>
                                <p>   There is water in Mitigation Area 10.  Water testing can give a wide variety
                                    of information and can indicate if a pond is polluted, is being impacted by
                                    fertilizer or is suffering from a lack of oxygen.</p>
                                    <table class="table-fill">
                                        <thead>
                                        <tr>
                                            <th class="text-left">Parameter</th>
                                            <th class="text-left">Ocean</th>
                                            <th class="text-left">Brackish Water</th>
                                            <th class="text-left">Fresh Water</th><th class="text-left">Area 10</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-hover">
                                        <tr>
                                            <td class="text-left">Dissolved O2/% saturation

                                            </td>
                                            <td class="text-left">80-120%</td>
                                            <td class="text-left">80-120%</td>
                                            <td class="text-left">80-120%</td>
                                            <td class="text-left">100%</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Dissolved O2 mg per L</td>
                                            <td class="text-left">6.5-8 mg/L</td>
                                            <td class="text-left">6.5-8 mg/L</td>
                                            <td class="text-left">6.5-8 mg/L</td>
                                            <td class="text-left">7.5 mg/L</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">pH</td>
                                            <td class="text-left">8 - 8.2</td>
                                            <td class="text-left">7.8 – 8.4</td>
                                            <td class="text-left">6.5 – 8.5</td>
                                            <td class="text-left">6.5</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Turbidity (NT Units)</td>
                                            <td class="text-left">5-30 NTU’s</td>
                                            <td class="text-left">5-30 NTU’s</td>
                                            <td class="text-left">1-30 NTU’s</td>
                                            <td class="text-left">3 NTU’s</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Salinity (parts per thousand)</td>
                                            <td class="text-left">33-37 ppt</td>
                                            <td class="text-left">5-32 ppt</td>
                                            <td class="text-left">=/< 0.5 ppt </td>
                                            <td class="text-left">0.5 ppt</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Electro-conductivity
                                                milliSiemens per cm
                                            </td>
                                            <td class="text-left">30-60 mS/cm</td>
                                            <td class="text-left">0-40 mS/cm</td>
                                            <td class="text-left">-1.99 mS/cm</td>
                                            <td class="text-left">-1.99 mS/cm</td>
                                        </tr>

                                        <tr>
                                            <td class="text-left">Temperature (degrees Celsius) *
                                            </td>
                                            <td class="text-left">20-30 C</td>
                                            <td class="text-left">20-30 C</td>
                                            <td class="text-left">20-30 C</td>
                                            <td class="text-left">29 C</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Nitrate (parts per million)
                                            </td>
                                            <td class="text-left">10-40 ppm</td>
                                            <td class="text-left">10-45 ppm</td>
                                            <td class="text-left">15-50 ppm</td>
                                            <td class="text-left">15 ppm</td>
                                        </tr>

                                        <tr>
                                            <td class="text-left">Nitrate (parts per million)
                                            </td>
                                            <td class="text-left">1-4 ppm</td>
                                            <td class="text-left">1-8 ppm</td>
                                            <td class="text-left">1-10 ppm</td>
                                            <td class="text-left">4 ppm</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p style="margin-top: 1rem;margin-left: 1rem;">*Depends on season</p>
                                    <p>The table in the 2nd, 3rd, and 4th columns represents the data for each type of water
                                        (ocean water, brackish water, and fresh water).  The data in the fifth column is
                                        data collected and recorded for area 10.  </p>
                                    <ul>
                                        <li>Dissolved oxygen - Dissolved oxygen (DO) is the amount of oxygen that is present in water.
                                            Water bodies receive oxygen from the atmosphere and from aquatic plants. Running water,
                                            such as that of a swift moving stream, dissolves more oxygen than the still water of a pond or lake.</li>
                                        <li>pH - a figure expressing the acidity or alkalinity of a solution on a logarithmic scale on which
                                            7 is neutral, lower values are more acid and higher values more alkaline.</li>
                                        <li>Turbidity - Turbidity is the amount of cloudiness in the water. This can vary from a river full of
                                            mud and silt where it would be impossible to see through the water (high turbidity),
                                            to a spring water which appears to be completely clear (low turbid-ity).</li>
                                        <li>Salinity - Salinity is the dissolved salt content of a body of water. It is a strong contributor
                                            to conductivity and helps determine many aspects of the chemistry of natural waters and the biological
                                            processes within them.</li>
                                        <li>Electro-conductivity – Measuring the electro-conductivity of water shows how easily an electrical
                                            current can be carried by the ions in a sample of water. The reason that the
                                            conductivity of water is important is because it can tell you how much dissolved
                                            substances, chemicals, and minerals are present in the water. Higher amounts of
                                            these impurities will lead to a higher conductivity.</li>
                                        <li>Nitrate – common chemical found in fertilizers. It is also naturally found in
                                            most bodies of water, but in very low concentrations. </li>
                                        <li>Nitrite – a by-product of nitrate.  Bacteria in the water will break down nitrate into nitrite.
                                            Nitrite is significantly more toxic that nitrate and should not be present in water, except in
                                            very small amounts. High amounts of nitrite indicate a body of water at or near death.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- end Modal --></div>
                    <div class="contentArea"><!-- Trigger/Open The Modal -->
                        <div class="modal-open" href="#myModal5">Run Off from Golf Course</div>
                        <!-- The Modal -->
                        <div id="myModal5" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">X</span>
                                <div class="modal-body">
                                <div class="modal-header">Runoff from Golf Course</div>
                                   <p> Run off occurs when fertilizer from crops,
                                    golf courses or lawns is carried into ponds, lakes and streams
                                    when rain water ‘runs off’ the grass or field.  Run off can cause waterway to become
                                    ‘eutrophic’ or die from excess nutrients.  This process usually involves ‘green water’
                                    or water that has a lot of algae and excess plant growth.  The images below are all
                                       examples of water impacted by run off.</p>
                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/runoff 1.png" alt="">



                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/runoff 4.png" alt="">


                                        </div>
                                    </div><div class="image_container">
                                    <div class="card">
                                        <img class="card_image" src="/assets/runoff 5.jpg" alt="">



                                    </div>
                                    <div class="card">
                                        <img class="card_image" src="/assets/runoff 6.jpg" alt="">


                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                        <!-- end Modal --></div>
                    <div class="contentArea"> <!-- Trigger/Open The Modal -->
                        <div class="modal-open" href="#myModal6">Snails or Fungi</div>
                        <!-- The Modal -->
                        <div id="myModal6" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">X</span>
                                <div class="modal-body">
                                    <div class="modal-header">Snails or Fungi</div>
                                    <p> There could be a biological reason for the mitigation area to die off.  These include things like a
                                        significant overgrowth of snails that damage the plants, opening them up to infection by a fungus.
                                        Or a disease of cordgrass that could kill off most of the plants seen in the mitigation area.
                                        These types of biological impacts can often be identified by the appearance of the area.</p>
                                    <div class="image_container">
                                        <div class="card">
                                            <img class="card_image" src="/assets/snails and fungus 1.png" alt="">
                                            <p> Overgrowth of snails that lead to fungus</p>



                                        </div>
                                        <div class="card">
                                            <img class="card_image" src="/assets/1024px-Salt_marsh_die-off_in_saquatucket.jpg" alt="">
                                            <p>Saltmarsh die off due to disease</p>


                                        </div>
                                    </div><div class="image_container" style="justify-content: center">
                                    <div class="card">
                                        <img class="card_image" src="/assets/330px-Healthy_salt_marsh.jpg" alt="">
                                        <p>Healthy saltmarsh</p>



                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Modal --></div>
                </div>


            </div>

            <p>After exploring the information above and recording data you think is important on your worksheet,
                please consider what the next steps will be to solve the problem.  Knowing what the problem is constitutes
                the first step.  What second and third steps do you think the wetland biologist should take to bring this mitigation area back to life?</p>




        </div>

        <!--        end first accordion-->




        <div class="accordion">Glossary of Terms
        </div>
        <div class="accordionContent">
            <p class="pHead">Wetland</p>
            <p class="pText">Land consisting of marshes or swamps; saturated land.</p>

            <p class="pHead">Tidal Marsh</p>
            <p class="pText">Marsh found along rivers, coasts and estuaries which
                floods and drains by the tidal movement of the adjacent estuary, sea or ocean.</p>

            <p class="pHead">Mitigation</p>
            <p class="pText">The action of reducing the severity, seriousness, or painfulness of something.
                In this case, the mitigation areas being monitored exist to reduce the ecological severity of
                building a golf course in an area with salt water marshes by creating new marshes.</p>

            <p class="pHead">Fresh Water</p>
            <p class="pText">Any naturally occurring liquid/solid water containing low concentrations of dissolved salts.</p>

            <p class="pHead">Tamper</p>
            <p class="pText">Interfere with something causing damage or unauthorized changes.</p>

            <p class="pHead">Topography</p>
            <p class="pText">The arrangement of the natural and artificial physical features of an area.
            </p>
        </div>



    </div>

    <div class="sideBar">
        <!--        <div class="sideBarText">Sidebar Text</div>-->
        <div class="sideBarAd">
            <script src="//ap.lijit.com/www/delivery/fpi.js?z=331605&width=300&height=250"></script>
            <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
        </div>

        <div class="sideBarAd">
            <script src="//ap.lijit.com/www/delivery/fpi.js?z=596345&width=300&height=250"></script>
            <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
        </div>

        <div sec:authorize="isAuthenticated()" class="buttonContainer">
            <a href="/welcome">View Teacher Resources</a>
        </div>

    </div>

</section>

<footer-component></footer-component>
</main>
</body>
</html>
